


@{ 
    Layout = null;

}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <table border="1">
        <tr>
            <th>Semestre</th>
            <th>Trimestre</th>
            <th>Total de vendas</th>
        </tr> 

        <tr>
            <td rowspan="2">1 Sem</td>
            <td>T1</td>
            <td>$ 4.349</td>
        </tr>

        <tr>             
            <td>T2</td>    
            <td>$ 2.984</td>
        </tr>

        <tr>
            <td rowspan="2">2 Sem</td> 
            <td>T3</td>    
            <td>$ 3.570</td>  
        </tr>

        <tr> 
            <td>T4</td>   
            <td>$ 7.215</td>  
        </tr>

        <tr> 
            <td colspan="3">$ 7.215</td>  
        </tr>
    </table>

    <p>Cupcakes favoritos</p>
    <ol>
        <li>Bolo</li>
        <li>Chocolatas</li>
        <li>Legiao</li>
    </ol>

</body>
</body>
</html>

