


@{ 
    Layout = null;

}

<!DOCTYPE html>
<!-- Comentarios Comentario Comenta ou encomenda
    
    <a href="http://unasp.br"
       target="_bank">Site do Unasp</a>
    
    
    <meta name="viewport" content="width=device-width" />
    <marquee>OlaMundo</marquee>
    <title>OlaMundo</title>
    
    <br />
    <a href="http://uol.com.br">Site UOL</a>
     -->
@*Comentariooss*@

<html>

<head>
</head>
<body>
    <table border="1">
        <tr>
            <!--first row-->
            <th>Trimestre</th> <!--first column in first row-->
            <th>Total de vendas</th><!--first row, second column-->
        </tr>
        <tr>
            <!--second row-->
            <td>T1</td>
            <td>$ 4.349</td>
        </tr>
        <tr> <!--third row-->    <td>T2</td>    <td>$ 2.984</td>  </tr>
        <tr> <!--fourth row-->    <td>T3</td>    <td>$ 3.570</td>  </tr>
        <tr> <!--fifth row-->    <td>T4</td>    <td>$ 7.215</td>  </tr>
    </table>


</body>
</body>
</html>

